.test{
  background-color: aqua;
  max-width: 60%;
  height: 100px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;

  .submit{
    background-color: rgb(250, 2, 138);
    border-radius: 5px;
    border-width: 0;
    padding: 5px 15px;
    margin: auto 20px;
    color: white;
    text-transform: uppercase;
  }
}